
body{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica,sans-serif;
	line-height: 1.45;
}

header{
	color: #FFFFFF;
	background-color: #284b63;
	padding: 80px 0;
	text-align: center;
}

section{
	padding: 40px 0;
	text-align: center;
}

.features{
	background: #FFFFFF;
	color: #000000;
}

.qoute{
	background: #549DA0;
	color: #FFFFFF;
}

footer{
	background: #353535;
	padding: 32px 0;
	text-align: center;
	color: #868686;
}
